* {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.15;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

:root{
    --backcolor: #e5e5e5;
    --whitecolor: #ffffff;
    --bluehover: #370617;
    --blackC: #000000;
    --orangeC: #FB8500;
    --orangeH: #884800;
    --yellowC: #FFB703;
    --blueC: #219EBC;
    --blueT: #026ca2;
    --darkBlueC: #023047;
}

#headerNav,
#title-website,
#nav-options,
#sliderElement,
#articleSection,
#centerMain,
#slideBanner-center,
#testimonial-center,
#testimony-section,
#ourClient-section,
#download-section,
#footer-website,
#about-us,
#explore,
#browse,
#contact-us,
#connect {
    display: none;
}

